.venv/
.pytest_cache/
__pycache__/
*.py[cod]
*.pyo

build/
*.spec
dist/

# 复制输出目录
copystep/

# 复制日志
Copy step list.csv
*.log
*.tmp
*.bak

# PyInstaller 打包输出
exe/build/
exe/dist/
exe/3D文件批量复制工具/
exe/3D文件批量复制工具.zip
*.pkg
*.toc
*.pyz
warn-*.txt
xref-*.html
localpycs/

